<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Salon za avtomobili</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function (){
            var tabela=$("#tabela").DataTable();
        })
    </script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container" style="height: 40px">
        <a class="navbar-brand" href="/" style="margin-left: 15%;">Home</a>
    </div>
</nav>
<br>
<br>
<br>
<div class="container mb-10">

    <div class="row">
        <h2>Прометот на секој од салоните, по месеци</h2>
        <div class="col-12" th:if="${all.size()>0}">

            <div class="table-responsive">

                <table class="table table-striped" id="tabela">
                    <thead>
                    <tr>
                        <th>Ime na salon</th>
                        <th>Mesec</th>
                        <th>Godina</th>
                        <th>Promet</th>
                        <th>Prodadeni vozila</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="tmp:${all}" class="balloon">
                        <td th:text="${tmp.getIme()}"></td>
                        <td th:text="${tmp.getMesec()}"></td>
                        <td th:text="${tmp.getGodina()}"></th>
                        <td th:text="${tmp.getPromet()}"></td>
                        <td th:text="${tmp.getProdadenivozila()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>